* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

header {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  color: blue;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  float: left;
  justify-content: center;
  align-items: center;
  line-height: 70px;
}

header nav ul #li-central {
  margin: 0 50px;
}

header nav ul a {
  text-decoration: none;
}

main {
  background-image: url(/images/pastapattern.jpg?49af7424f8ad351c564375edbf7a736b);
  background-repeat: repeat;
  padding-bottom: 100px;
}

main .title h2 {
  width: 100%;
  padding-top: 80px;
  text-align: center;
  text-transform: uppercase;
}

main .box {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

main .box .card {
  width: 30%;
  margin-right: 30px;
}

main .box .card img {
  width: 270px;
  margin: 25px 0;
}

main .box .card img:hover {
  transform: scale(1.2);
}

